/****** PLACE YOUR CUSTOM STYLES HERE ******/
@font-face {
  font-family: 'StrangeloveTextW00-Regular';
  src: url('fonts/StrangeloveTextW00-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/StrangeloveTextW00-Regular.woff') format('woff'), url('fonts/StrangeloveTextW00-Regular.ttf')  format('truetype'), url('fonts/StrangeloveTextW00-Regular.svg#StrangeloveTextW00-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
  .titulo-principio {
    font-size: 70px;
    line-height: 1;
  }
  .servicios {
    margin-top: -140px;
    padding-bottom: 20px;
  }
  .packing {
    margin-top: 100px;
  }
  .rojonutrix {
    color: #C60606;
  }
.headingnutrix:before, .headingnutrix:after {
    background: #C60606;
    content: '';
    display: block;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.centrado{
  margin: 0 auto;
  display: block;
}

.headings{
  font-family: 'StrangeloveTextW00-Regular';
  text-shadow: 0 0 30px rgba(0,0,0,0.5);
}

.metodologia{
  background-image:url('../img/vacas.jpg');
  background-size: contain;
  height:100%;
}

.fleft{
  float:left;
}

.servicios {
  background-image:url('img/fondoservicios.jpg');
  background-size: cover;
}
.subnosotros:after {
    background: #C60606;
    content: '';
    display: block;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.contactexto {
  font-size: 60px;
}
.info-mapa {
    background-color: rgba(0, 0, 0, 0.66);
    padding-top: 45px;
    border-radius: 3px;
}
.servicio {
  width: 50%;
  padding-bottom: 20px;
}
.ini {
  margin-top: -100px;
}
.fondonosotros {
  background-image: url('../img/cover-nosotros-4.jpg');
  background-position: center;
  background-size: cover;
}
.introd{
  font-size: 25px;
  text-align: left;
  font-weight: 400;
  line-height: 35px;
  color: #fff;
}

.btn-leermas{
  margin-top: 50px;
}

.divisor {
  width: 200px;
  height: 2px;
  margin-top: -20px;
  background-color: #262F52;
  margin: 0 auto;
  display: block;
}

  /*@media (max-width:1024px){
    .headingnutrix{
      padding-top: 202px!important;
      padding-bottom: 38px!important;
    }
  }*/

@media (max-width:736px){
  .servicios {
    margin-top: 0px;
  }
  .mundo {
    display: none;
  }
  .ini {
    margin-top: -38px;
  }
  .flecha {
    font-size: 18px !important;
  }
  .headingnutrix {
    font-size: 22px !important;
  }
}

@media (max-width:320px) {
    .servicios {
      margin-top: 0px;
    }
    .mundo {
      display: none;
    }
    .ini {
      margin-top: -38px;
    }
    .flecha {
      font-size: 18px !important;
    }
    .headingnutrix {
      font-size: 32px !important;
    }
}
@media (max-width:480px) {
    .servicios {
      margin-top: 0px;
    }
    .mundo {
      display: none;
    }
    .ini {
      margin-top: -38px;
    }
    .flecha {
      font-size: 18px !important;
    }
    .headingnutrix {
      font-size: 22px !important;
    }
}

.sepia{
    -webkit-filter: sepia(30%);
    filter:sepia(30%);
}

.sepia60{
    -webkit-filter: sepia(80%);
    filter:sepia(80%);
}

.c-expertise-section__figure {
    height: auto;
    max-height: 130px;
    max-width: 130px;
    width: auto;
    margin: 0 auto;
}
.sameH{
    min-height: 300px !important;
    height: auto;
}

.sameH > h4{
    padding: 10px;
    font-size: 20px;
}
